:root {
  color: #111;
  background: #f1eee7;
  font-family: sans-serif;
}

html,
body,
#app,
#scene {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

canvas {
  display: block;
}
